@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
:root {
  --primary: #FAE0C9;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  overflow-x: hidden;
  /* font-family: "Open Sans", sans-serif; */
  /* font-family: "Titillium Web", sans-serif; */
}
.header{
  height: 100px;
}
.hero_section{
  min-height: 100vh;
  background: none;
  background-position: center right;
  background-size: contain;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .hero_section{
    min-height: 100vh;
    background: url('./img/hero-bg.png') no-repeat;
    background-position: center right;
    background-size: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

@media screen and (min-width: 992px) {
  .hero_section{
    min-height: 100vh;
    background: url('./img/hero-bg.png') no-repeat;
    background-position: center right;
    background-size: contain;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
}




.div {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 31px 0 0 41px;
}
@media (max-width: 991px) {
  .div {
    padding-left: 20px;
  }
}
.div-2 {
  background-color: rgba(0, 0, 0, 0);
  align-self: end;
  display: flex;
  width: 1084px;
  max-width: 100%;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}
@media (max-width: 991px) {
  .div-2 {
    padding-right: 20px;
  }
}
.div-3 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 511px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 962px;
  padding: 2px 0;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
  }
}
.img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div-4 {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  gap: 20px;
  padding: 20px 56px 54px;
}
@media (max-width: 991px) {
  .div-4 {
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.div-5 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
  }
}
.div-6 {
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 10px;
  justify-content: space-between;
  padding: 0 1px;
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-7 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: auto 0;
}
.img-2 {
  aspect-ratio: 7.14;
  object-fit: auto;
  object-position: center;
  width: 99px;
}
.div-8 {
  color: #70625c;
  font-family: Inter, sans-serif;
}
.div-9 {
  color: #6d5e56;
  font-family: Inter, sans-serif;
  margin: auto 0;
}
.div-10 {
  color: #796c64;
  margin: auto 0;
  font: 9px Inter, sans-serif;
}
.div-11 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.div-12 {
  color: #6f5f57;
  font-family: Inter, sans-serif;
  margin: auto 0;
}
.div-13 {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  color: #bd7c70;
  justify-content: center;
  padding: 6px 4px;
}
.div-14 {
  font-family: Inter, sans-serif;
  border-color: rgba(252, 230, 212, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fdfdfa;
  align-items: start;
  justify-content: center;
  padding: 11px 21px;
}
@media (max-width: 991px) {
  .div-14 {
    padding: 0 20px;
  }
}
.div-15 {
  color: #6c4833;
  margin-top: 61px;
  font: 12px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-15 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-16 {
  color: #d14625;
  margin-top: 26px;
  font: 36px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
  }
}
.div-17 {
  color: #958174;
  margin-top: 27px;
  font: 11px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-17 {
    max-width: 100%;
  }
}
.div-18 {
  background-color: #fee0c9;
  width: 44px;
  height: 47px;
  margin: auto 0;
}
.div-19 {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  align-self: center;
  z-index: 10;
  min-height: 262px;
  width: 779px;
  max-width: 100%;
  margin: -5px 0 -92px;
  padding: 33px 26px 80px;
}
@media (max-width: 991px) {
  .div-19 {
    margin-bottom: 10px;
    padding: 0 20px;
  }
}
.div-20 {
  position: relative;
  color: #3a394a;
  font: 21px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
  }
}
.div-21 {
  position: relative;
  display: flex;
  gap: 4px;
  margin: 20px 0 18px;
}
@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-22 {
  background-color: rgba(0, 0, 0, 0);
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 6px;
}
.div-23 {
  border-color: rgba(225, 225, 225, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fefdfe;
  display: flex;
  gap: 16px;
  padding: 12px 80px 12px 14px;
}
@media (max-width: 991px) {
  .div-23 {
    padding-right: 20px;
  }
}
.img-3 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 27px;
  margin: auto 0;
}
.div-24 {
  display: flex;
  flex-direction: column;
}
.div-25 {
  color: #6f6d77;
  font: 11px Inter, sans-serif;
}
.div-26 {
  display: flex;
  margin-top: 14px;
  gap: 18px;
  font-size: 15px;
  color: #9b9a9f;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .div-26 {
    white-space: initial;
  }
}
.img-4 {
  aspect-ratio: 0.53;
  object-fit: auto;
  object-position: center;
  width: 8px;
}
.div-27 {
  font-family: Inter, sans-serif;
}
.div-28 {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
}
.div-29 {
  border-color: rgba(246, 246, 247, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(254, 254, 254, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1px;
}
.div-30 {
  border-radius: 1.75px;
  border-color: rgba(227, 227, 228, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fdfdfd;
  display: flex;
  align-items: start;
  gap: 13px;
  padding: 14px 55px 14px 14px;
}
@media (max-width: 991px) {
  .div-30 {
    padding-right: 20px;
  }
}
.img-5 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 27px;
  margin-top: 6px;
}
.div-31 {
  display: flex;
  flex-direction: column;
}
.div-32 {
  color: #6e6d77;
  font: 11px Inter, sans-serif;
}
.div-33 {
  color: #3d3b47;
  text-align: center;
  margin-top: 12px;
  font: 14px Inter, sans-serif;
}
.div-34 {
  border-radius: 3px;
  border-color: rgba(228, 228, 229, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fdfdfd;
  display: flex;
  align-items: start;
  gap: 10px;
  margin: auto 0;
  padding: 12px 43px 12px 0;
}
.img-6 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 32px;
  margin-top: 4px;
}
.img-7 {
  aspect-ratio: 1.03;
  object-fit: auto;
  object-position: center;
  width: 29px;
  align-self: stretch;
  margin: auto 0;
}
.div-35 {
  display: flex;
  flex-direction: column;
}
.div-36 {
  color: #65636d;
  font: 10px Inter, sans-serif;
}
.div-37 {
  color: #292832;
  text-align: center;
  margin-top: 14px;
  font: 13px Inter, sans-serif;
}
.div-38 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 371px;
  width: 1137px;
  max-width: 100%;
  padding-top: 6px;
  align-items: start;
}
@media (max-width: 991px) {
  .div-38 {
    padding-right: 20px;
  }
}
.div-39 {
  position: relative;
  border-color: rgba(241, 239, 242, 1);
  border-style: solid;
  border-width: 2px;
  background-color: #f0f0f4;
  width: 118px;
  height: 365px;
}
